.blog_section{
    padding: 6.5rem 0;
}

.blog_item{
    border: .1rem solid $orange_light;
    margin-bottom: 5rem; 
    .card{
        border: none;
        padding-bottom: 2rem;
       .card-body{
        margin-top: 2rem;
        padding: 0 1rem;
        .blog_date{
            display: block;
            font-family: 'Urbanist';
            font-weight: 400;
            line-height: 2.6rem;
            color: #6F6B80;
             margin-bottom: 2rem;
        }
        .blog_link{
            width: fit-content;
             display: flex;
             align-items: center;
             font-family: 'Urbanist';
             font-weight: 600;
             color: $orange;
             i{
                 margin-left: 1rem;
             }
          }
       }
    }
}