
.blog_item{
    border: .1rem solid $orange_light;
    padding-bottom: 2.5rem; 
    .card{
        border: none;
       .card-body{
        margin-top: 3rem;
        padding: 0 3rem;
        
       }
       
    }
    h3{
        margin-bottom: 2.6rem;
       }
    .blog_date{
        display: block;
        font-family: 'Urbanist';
        font-weight: 400;
        line-height: 2.6rem;
        color: #6F6B80;
         margin-bottom: 2rem;
    }
    .blog_link{
        width: fit-content;
         display: flex;
         align-items: center;
         font-family: 'Urbanist';
         font-weight: 600;
         color: $orange;
         transition: .4s ease-in-out;
         i{
             margin-left: 1rem;
         }
         &:hover{
            transform: scale(1.1);
            color: $heading;
         }
      }
}