.header {
  nav {
    //height: 10rem;
    align-items: center;
    padding: 2rem 0;
  }
  .logo {
    width: 13.3rem;
    height: 4.65rem;
    &:hover {
      color: $text;
    }
  }
    .hamburger_icon {
      display: block;
      width: 30px;
      height: 3px;
      background-color: $heading;
      position: relative;
      transition: 0.3s ease-in-out;
      &::after,
      &::before {
        content: "";
        width: $full_width;
        height: $full_height;
        background-color: $heading;
        position: absolute;
        left: 0;
        top: 7px;
        transition: 0.3s ease-in-out;
      }
      &::before {
        top: -7px;
      }
    }
    .close {
      background: transparent;
      transition: 0.3s ease-in-out;
    }
    .close::after {
      transform: rotate(-45deg);
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .close::before {
      transform: rotate(45deg);
      top: 0;
      transition: 0.3s ease-in-out;
    }

  #menu_links {
    a {
      font-size: $font_small;
      color: $heading;
      padding: 0 1.6rem;
      line-height: 2.72rem;
      transition: 0.5s ease-in-out;
      &:hover {
        color: $orange;
      }
      &:last-child {
        padding-right: 0;
      }
      &:first-child {
        padding-left: 0;
      }
    }
  }
}
.hero {
  //height: calc(100vh - 10rem);
  background: linear-gradient(
    256.24deg,
    rgba(255, 195, 152, 0.2) 26.56%,
    rgba(255, 234, 190, 0.3) 100%
  );
  position: relative;
    .hero_text {
      //width: 81.1rem;
      padding-top: 14.3rem;
      animation: hero_text 1500ms ease-in-out;
      .subtitle {
        padding-right: 4rem;
        font-size: $font_medium;
        line-height: 3.3rem;
        margin-bottom: 5rem;
        text-align: left;
      }
    }
    .hero_img {
      animation: hero_img 1000ms ease-in-out;
      animation-delay: 1000ms;
    }
  .frame1{
    width: 11.3rem;
    height: 11.4rem;
    position: absolute;
    top: 5%;
    left: 4%;
  }
  .frame2{
    width: 4rem;
    height: 4.5rem;
    position: absolute;
    top: 10%;
    left: 50%;
  }
  .frame3{
    width: 10.1rem;
    height: 10.1rem;
    position: absolute;
    top:78%;
    left: 34%;
  }
  .col{
    padding: 0 !important;
  }
}
@keyframes hero_text {
  0%{
   transform: translateX(-1000%); 
  }
  100%{
    transform: translateX(0); 
  }
}
@keyframes hero_img {
  0%{
   transform: translateY(-100%); 
  }
  100%{
    transform: translateY(0); 
  }
}
