.portfolio_section {
  padding:13rem 0;
  .portfolio_item {
    margin-bottom: 2rem;
    &.large_size {
      width: 75rem;
      height:43.6rem;
    }
    &.size_1 {
      height:34.2rem;
    }
    &.size_2 {
      height:44.2rem;
    }
    &.size_3 {
      height:51.4rem;
    }
    &.size_4 {
      height:37rem;
    }
    &.size_5 {
      height:53.7rem;
    }
    img{
      border-radius: .6rem;
    }
  }
}
