.service{
    padding:6.5rem 0 13rem;
    #service_items{
        margin-top: 5rem;
        .service_item{
            padding: 4.6rem 3rem 5rem;
            border: .15rem solid $orange_light;
            border-radius: .6rem;
            transition: .3s ease-in-out;
            &:hover{
                background: $orange_light;
            }
            .service_icon{
                width: 5.5rem;
                height: 5.5rem;
                margin:0 auto;
                margin-bottom: 2.5rem;
                &.size_1{
                   width: 5.593rem;
                }
                &.size_2{
                   width: 5.461rem;
                   height: 5.461rem;
                }
                &.size_3{
                   width: 6.8rem;
                   height: 5.473rem;
                }
                &.size_4{
                   width:5.422rem;
            
                }
            }
            .subtitle{
                margin-top: 1.3rem;
            }
        }
    }
    
}