.service{
    padding-bottom: 13rem;
        .service_item{
            padding: 4.6rem 3rem 5rem;
            border: .1rem solid $orange_light;
            border-radius: .6rem;
            transition: .3s ease-in-out;
            &:hover{
                background: $orange_light;
            }
           .heading{
            margin-bottom: 1.3rem;
           } 
           .subtitle{
            margin-bottom: 0;
           }
        }
        .service_icon{
            width: 5.5rem;
            height: 5.5rem;
            margin:0 auto;
            margin-bottom: 2.6rem;
            &.size_1{
               width: 5.593rem;
            }
            &.size_2{
               width: 5.461rem;
               height: 5.461rem;
            }
            &.size_3{
               width: 6.8rem;
               height: 5.473rem;
            }
            &.size_4{
               width:5.422rem;
        
            }
        }
    
}