// Font-colors variables
$orange:#ff6b00;
$orange_light: #FFF5EF;
$heading:#010101;
$white:#ffffff;
$text:#606060;
$background_grad: linear-gradient(256.24deg, rgba(255, 195, 152, 0.2) 26.56%, rgba(255, 234, 190, 0.3) 100%);

// Font-sizes variables in rem 1rem = 10px 
$font_small:1.6rem;  // 14px
$font_medium:1.8rem; //18px
// Section with and height variables
$full_width:100%;
$full_height:100%;
