// Font-colors variables
$orange:#ff6b00;
$orange_light:#fff5ef;
$heading:#010101;
$white:#ffffff;
$text:#606060;
// Font-sizes variables in rem 1rem = 10px 
$font_small:1.6rem;  // 14px
$font_medium:1.8rem; //18px
// Section with and height variables
$full_width:100%;
$full_height:100%;
